libtmux
prompt-toolkit
xonsh-autoxsh
xonsh[full]
xontrib-abbrevs
xontrib-argcomplete
xontrib-autojump
xontrib-back2dir
xontrib-clp
xontrib-cmd-durations
xontrib-ergopack
xontrib-fish-completer
xontrib-history-encrypt
xontrib-onepath
xontrib-output-search
xontrib-pipeliner
xontrib-prompt-starship
xontrib-readable-traceback
xontrib-sh
xxh-xxh
