xonsh[full]
xonsh-autoxsh
xontrib-argcomplete
xontrib-autojump
xontrib-back2dir
xontrib-clp
xontrib-cmd-durations
xontrib-ergopack
xontrib-fish-completer
xontrib-history-encrypt
xontrib-output-search
xontrib-pipeliner
xontrib-prompt-starship
xontrib-sh
xxh-xxh
