[user]
    name = Xitong Gao
    email = gxtfmx@gmail.com
[alias]
    br = !legit branches
    cm = commit
    co = checkout
    rb = rebase
    s  = status
    sm = submodule
    st = stash
    un = reset
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    switch    = !legit switch \"$@\"
    branches  = !legit branches
    sprout    = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest   = !legit harvest \"$@\"
    sync      = !legit sync \"$@\"
    publish   = !legit publish \"$@\"
    graft     = !legit graft \"$@\"
    unstage     = reset
    unstage-all = reset --soft HEAD^
[core]
    excludesfile = /Users/admko/.gitignore
    autocrlf     = input
[color]
    ui          = true
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto
    grep        = auto
[branch]
    autosetupmerge  = always
    autosetuprebase = always
[merge]
    log     = true
    summary = true
[push]
    default = matching
[credential]
    helper = osxkeychain
