[user]
    name = Xitong Gao
    email = gxtfmx@gmail.com
[alias]
    br = branch
    cm = commit
    co = checkout
    d = diff
    ds = diff --staged
    rb = rebase
    mg = merge
    s = status
    sm = submodule
    st = stash
    un = reset
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"
    unstage = reset
    unstage-all = reset --soft HEAD^
[core]
    autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RFX
[color]
    ui = auto
    ; diff = auto
    status = auto
    branch = auto
    interactive = auto
    grep = auto
    pager = true
    decorate = auto
    showbranch = auto
[branch]
    autosetupmerge = always
    autosetuprebase = always
[merge]
    log = true
    summary = true
[push]
    default = matching
[credential]
    helper = osxkeychain
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
