# command palette
command ;

# navigation
screen_down <C-f>
screen_up <C-b>
goto_mark '
open_prev_doc o
open_document O
prev_state [
next_state ]
# need to place the cursor on the pdf to work
synctex_under_cursor <C-s>

# select and copy
copy y

# portals
# toggle_window_configuration H  # I don't know how to use this

# ui
toggle_custom_color <C-k>
fit_to_page_width_smart =
fit_to_page_width _
