# navigation
control_click_command synctex_under_cursor
open_link K
keyboard_smart_jump f
# use_ruler_to_highlight_synctex_line 0

# search
super_fast_search 1
case_sensitive_search 0

# ui
ui_font Iosevka Term

# colors
source ./themes/_active_theme.config

# TODO: extension
# new_command _download_paper ~/.kxh/.miniconda3/bin/kxh_python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}"
# control_click_command _download_paper

# startup
startup_commands toggle_custom_color
